<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assests/css/index.css/mainpage.css">
    <link rel="stylesheet" href="/assests/css/main.css">
    <link rel="stylesheet" href="/assests/css/components.css">
</head>

<body>

    <footer id="footer">
        <div class="footer_container content-wrapper">
            <div class="footer_categories">
                <h1>Exclusive</h1>
                <h2>Subscribe</h2>
                <a href="">Get 10% off your first order</a>
                <div class="footer_btn"><button>Enter Your email <div class="footer_btn_img"> <img
                                src="assests/images/footer-right-arrow-button.png" alt=""></div>
                    </button>
                </div>

            </div>
            <div class="footer_categories" style="width: 175px;">
                <h1>Support</h1>
                <a href="">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</a>
                <a href="">exclusive@gmail.com</a>
                <a href="">+88015-88888-9999</a>
            </div>
            <div class="footer_categories">
                <h1>Account</h1>
                <a href="">My Account</a>
                <a href="">Login / Register</a>
                <a href="">Cart</a>
                <a href="">Wishlist</a>
                <a href="">Shop</a>
            </div>
            <div class="footer_categories">
                <h1>Quick Link</h1>
                <a href="">Privacy Policy</a>
                <a href="">Terms Of Use</a>
                <a href="">FAQ</a>
                <a href="">Contact</a>
            </div>
            <div class="footer_categories">
                <h1>Download App</h1>
                <p>Save $3 with App New User Only</p>
                <div class="download_app">
                    <div><img src="assests/images/Qrcode 1.png" alt=""></div>
                    <div class="playstore_appstore">
                        <div><img src="assests/images/playstorelogo.png" alt=""></div>
                        <div><img src="assests/images/appstore-logo.png" alt=""></div>
                    </div>
                </div>
                <div class="different_platforms">
                    <div><img src="assests/images/facebook.png" alt=""></div>
                    <div><img src="assests/images/twitter.png" alt=""></div>
                    <div><img src="assests/images/linkdin.png" alt=""></div>
                    <div><img src="assests/images/instagram.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom_container">
                <div>
                    <h1>© Copyright Rimel 2022. All right reserved</h1>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>