<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assests/css/main.css">
    <link rel="stylesheet" href="/assests/css/components.css">
    <style>

    </style>
</head>


<body>
    <header id="navbar">
        <section id="navbar_top">
            <div class="navbar_top_container content-wrapper">
                <div class="navbar_top_sale">
                    <p>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%</p>
                    <a href="">ShopNow</a>

                </div>
                <div class="navbar_top_language_selector">
                    <p>English </p>
                    <div> <img src="assests/images/arraydown.png" alt=""></div>
                </div>
            </div>
        </section>
        <section id="navbar">



            <div class="navbar_container content-wrapper">
                <div class="navbar_tittle">
                    <h1>Exclusive</h1>
                </div>
                <div class="navbar_components">
                    <ul>
                        <li><a href="../main.html">Home</a></li>
                        <li><a href="../contact-us.html">Contact</a></li>
                        <li><a href="../about-us.html">About Us</a></li>
                        <li><a href="singup.html">Sign Up</a></li>
                    </ul>
                </div>
                <div class=" navbar_right_side" style="position: relative;">
                    <div class="navbar_searchbar">
                        <input type="text" placeholder="What are you looking for ?">
                        <div class="navbar_searchbar_img"> <img src="assests/images/searchbar.png" alt=""></div>
                    </div>

                    <div class="navbar_right_side_three_images"><img src="/assests/images/Wishlist.png" alt=""></div>
                    <div class="navbar_right_side_three_images"><img src="assests/images/shoppingcart.png" alt=""></div>
                    <div class="navbar_right_side_three_images" id="dropdown"><img src="/assests/images/user.png"
                            alt="">
                        <div id="dropdown_container">
                            <div class="dropdown_elements">
                                <div class="dropdown_element">
                                    <div><img style="filter: invert(1);" src="/assests/images/user.png" alt=""></div>
                                    <a href="">Manage My Accounts</a>
                                </div>
                                <div class="dropdown_element">
                                    <div><img src="/assests/images/dropdown-bag.png" alt=""></div>
                                    <a href="">My Order</a>
                                </div>
                                <div class="dropdown_element">
                                    <div><img src="/assests/images/dropdown-X.png" alt=""></div>
                                    <a href="">My Cancellations</a>
                                </div>
                                <div class="dropdown_element">
                                    <div><img src="/assests/images/dropdown-star.png" alt=""></div>
                                    <a href="">My Reviews</a>

                                </div>
                                <div class="dropdown_element">
                                    <div><img src="/assests/images/dropdown -logout.png" alt=""></div>
                                    <a href="">Logout</a>

                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>

        </section>


    </header>
    <script src="header-footer.js"></script>
</body>

</html>